.page-center {
  height: 100vh;             
  display: flex;
  justify-content: center;   
  align-items: center;     
  
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.login-heading{
    font-size: 24px;
    text-align: center;
}
.input-value{
    width: 280px;
    height: 15px;
    padding: 10px;
    border-radius: 5px;
    border-color: deepskyblue;
}
.button{
    width: 310px;
    background-color: #007bff;;
    color: white;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border-color: #007bff;
    margin-left: 5px;
    text-align: center;
}